.feature-main{
    margin-top: 10vh;
    justify-content: center;
    align-items: center;
}

.feature p{
    color: rgb(92, 62, 212);
    margin: 0 auto;
    font-size: 20px;
}

.feature h2{
    color: #fff;
    font-size: 50px;
    margin-top: 0;
    font-weight: 400;
}

.features-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: all 1s ease-in-out;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box2{
    background-color: #2b1a6d;
    border-radius: 15px;
    margin: auto;
    height: 400px;
    width: 350px;
}

.box2 h1{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
}

.box2 p{
    color: #898CA9;
    font-size: 20px;
}

.box2 button{
    border: none;
    color: #583acf;
    background: transparent;
    cursor: pointer;
    margin-top: 15px;
}

.icon{
    margin-top: 20px;
    background-color: #2b1a6d;
    border: 1px solid #2b1a6d;
    border-radius: 50%;
}

.robotM{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
}

.robot {
    position: absolute; 
    right: 19%;
}

.robot img{
    object-fit: contain;
}

.robot-text{
    margin-left: 10%;
    margin-top: 15%;
    text-align: start;
    max-width: 500px;
}

.robot-text h2{
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    /* line-height: 8vh; */
}

.robot-text p{
    color: #fff;
    margin-top: 0;
    font-size: 17px;
}

.robot-text button{
    background: rgb(92, 62, 212);
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    font-size: 18px;
    cursor: pointer;
}

.another{
    margin-top: 25%;
}

.another h2{
    color: #fff;
    font-size: 45px;
    margin-bottom: 0;
    font-weight: 400;
}

.another p{
    color: #fff;
    margin-top: 10px;
}

.data{
    margin-top: 30px;
}

.data img{
    width: 70%;
    height: 350px
}

@media (max-width: 799px) {
    .feature h2 {
        font-size: 23px;
    }

    .features-box{
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(1, 1fr);   
        justify-content: center;
        width: 100%;
    }

    .box2{
        margin: auto;
    }

    .feature{
        margin-top: 0;
    }

    .feature p {
        text-align: center;
    }

    .robotM {
        margin-top: 40px;
    }

    .robot-text{
        text-align: center;
        margin-left: 20px;
    }
        
    .robot-text h2 {
        font-size: 25px;
        line-height: 4vh;
    }

    .robot-text p {
        font-size: 12px;
        color: gray;
    }

    .robot {
        position: absolute;
        margin-top: 40vh;
        right: 30%;
    }

    .robot img {
        object-fit: contain;
        height: 250px;
    }

    .another{
        margin-top: 38vh;
    }

    .another h2 {
        font-size: 25px;
        font-weight: 400;
    }

    .another p {
        font-size: 12px;
        color: gray;
        max-width: 300px;
        text-align: center;
        padding: 0 50px;
    }

    .data img {
        width: 90%;
        height: 150px
    }
}
