.robot2 {
    position: absolute;
    right: 150px;
}

.robot2 img {
    object-fit: contain;
    height: 400px;
}

.robots-text {
    margin-left: 40px;
    margin-top: 30px;
    text-align: start;
}

.robots-text h2 {
    color: #fff;
    font-size: 50px;
}

.robots-text p {
    color: #fff;
}

.robots-text button {
    background: rgb(92, 62, 212);
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 8px;
}

.footer{
    display: flex;
    margin-top: 200px;
    margin-bottom: 10px;
}

.first{
    text-align: start;
    margin-left: 40px;
}

.first p{
    color: white;
    font-size: 14px;
}

.input{
    display: flex;
}

.input input{
    outline: none;
    color: #1F1548;
    border: none;
    padding: 15px;
    border-radius: 8px;
}

.arrow{
    position: absolute;
    left: 16%;
    margin-top: 1%;
}

.second{
    margin-left: 35vh;
}

.second ul li {
    margin-top: 12px;
    text-align: start;
}

.third {
    margin-left: 35vh;
}

.third ul li {
    margin-top: 12px;
    text-align: start;
}


@media (max-width: 500px) {
    .robot2 {
        position: absolute;
        margin-top: 30vh;
        right: 1%;
    }

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 70vh;
    }

    .first {
        text-align: center;
        margin-left: 10px;
    }

    .second ul li {
        display: none;
    }

    .third ul li {
        display: none;
    }

    .robot-footer{
        display: none;
    }

    .arrow {
        position: absolute;
        left: 32vh;
        margin-top: 3%;
    }
    .robots-text {
        text-align: center;
        margin-top: 10px;
    }
        
    .robots-text h2 {
        font-size: 25px;
    }
        
    .robots-text p {
        font-size: 12px;
        color: gray;
    }

    .input input{
        justify-content: center;
        margin: auto;
    }

    .footer {
        margin-bottom: 50px;
    }
}